<div class="select__container" data-name="system-type">
    <input type="hidden" name="@@selectName" value="Sed ut perspiciatis">
    <div class="select__box">
        <span class="select__label">@@selectLabel</span>
        <span class="select__arrow">
            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 10L12 14L16 10" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </span>        
    </div>
    <div class="select__options-wrapper">
        <div class="select__options">
            <div class="select__option select__option--selected">Sed ut perspiciatis</div>
            <div class="select__option">Nemo enim ipsam</div>
            <div class="select__option">Et harum quidem</div>
            <div class="select__option">Temporibus autem</div>
            <div class="select__option">Itaque earum rerum</div>
            <div class="select__option">Nemo enim ipsam</div>
            <div class="select__option">Et harum quidem</div>
            <div class="select__option">Temporibus autem</div>
            <div class="select__option">Itaque earum rerum</div>
        </div>
    </div>
</div>
