<div class="steps">
  <div class="steps__item">
    <span class="steps__icon steps__icon--search"></span>
    <p class="steps__text ts-r-16">Lorem ipsum dolor
      sit amet</p>
  </div>
  <div class="steps__item">
    <span class="steps__icon steps__icon--percent"></span>
    <p class="steps__text ts-r-16">Сonsecteturadipiscing elit</p>
  </div>
  <div class="steps__item">
    <span class="steps__icon steps__icon--file"></span>
    <p class="steps__text ts-r-16">Sed do eiusmod tempor</p>
  </div>
  <div class="steps__item">
    <span class="steps__icon steps__icon--message"></span>
    <p class="steps__text ts-r-16">Esse cillum dolore
      eu fugiat</p>
  </div>
  <div class="steps__item">
    <span class="steps__icon steps__icon--money"></span>
    <p class="steps__text ts-r-16">Excepteur sint occaecat cupidatat non proident</p>
  </div>
</div>
