@keyframes shine {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  .btn-blue {
      position: relative;
      background-color: $blue-2;
      border: solid 1px $white;
      border-radius: 4px;
      transition: background-color 0.5s;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;  
      &:hover {
          background-color: $blue-3;
      }
  
      &::before {
          content: "";
          position: absolute;
          top: 0;
          left: -100%;
          width: 100%;
          height: 100%;
          background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent);
          transition: 0.5s;
      }
  
      &:hover::before {
          animation: shine 1s forwards;
      }
  }
  
  @keyframes pulseGlow {
    0%, 100% {
      box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }
    50% {
      box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }
  }
  
  .btn-white {
      position: relative;
      background-color: $white;
      border: solid 1px $gray-2;
      border-radius: 4px;
      transition: background-color 0.5s;
      text-transform: uppercase;
      text-align: center;
      overflow: hidden;
  
      &:hover {
          background-color: $gray-3;
          animation: pulseGlow 1.5s infinite;
      }
  
      a {
          color: $black-3;
      }
  }
  

.order-form__upload {
    cursor: pointer;

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 44px;
        border: solid 1px $gray-2;
        border-radius: 3px;
        background-color: $white;
        text-transform: uppercase;
        transition: 0.5s;
        border: solid 2px $blue-2;
        &:hover {
            background-color: $gray-3;
            transition: 0.5s;
        }

        span {
            margin-left: 10px;
        }

        svg {
            stroke: $gray-2;
            transition: stroke 0.3s;
        }
    }
}

.order-form__files {
    margin-top: 10px;
    width: 100%;
}

.order-form__file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    margin-top: 5px;
    background-color: $white;
    border: solid 1px $gray-2;
    border-radius: 6px;
}

.order-form__file-name {
    color: $gray-2;
    font-size: 14px;
}

.order-form__file-remove {
    cursor: pointer;
    background: none;
    border: none;
    color: $gray-2;
    font-size: 18px;
    margin-left: 10px;
}
.btn-48 a {
    font-family: 'Lato-SemiBold';
    font-size: 15px;
    height: 48px;
}

